.HomeSection {
  max-width: 55%;
  margin: 34vh auto 60vh auto;
  text-align: left;
}

.Heading {
  font-size: 2rem;
}

.Subheading {
  font-size: 1rem;
  padding-top: 0.5em;
  color: #ff6652;
  width: 0;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.FadeIn {
  opacity: 0;
  -webkit-animation: fadein 3s 1 3s;
  animation: fadein 3s 1 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}