.HomeSection {
  width: 60%;
  margin: 45vh auto;
  text-align: left;
}

.Heading {
  font-size: 2rem;
}

.Subheading {
  font-size: 1rem;
  font-weight: lighter;
  padding-top: 0.5em;
  color: #ff6652;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.FadeIn {
  opacity: 0;
  -webkit-animation: fadein 3s 1 3.5s;
  animation: fadein 3s 1 3.5s;
  animation-fill-mode: forwards;
}