.GridWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5vh 0 10vh
}

.GridArea {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* .GridArea:hover {
  filter: grayscale(80%);
  opacity: 70%;
  background-color: white;
} */

  
