.ProjectsSection {
  width: 100%;
  min-height: 100vh;
  text-align: left;
  background-color: white;
}

.ProjectContent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Heading {
  font-size: 2rem;
  text-align: center;
  color: #ff6652;
  padding-top: 1em;
}

.Subheading {
  text-align: center;
}

.PageBreak {
  /* background-color: #ff6652; */
  background-color: #f2f5f0;
  height: 4em;
  margin-bottom: 4em;
}