.ProjectsSection {
  width: 100%;
  min-height: 100vh;
  text-align: left;
  background-color: white;
}

.Heading {
  font-size: 2rem;
  text-align: center;
  color: #ff6652;
  padding-top: 1em;
}

.Subheading {
  font-size: 1rem;
  font-weight: lighter;
  padding-top: 0.5em;
  color: #ff6652;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.FadeIn {
  opacity: 0;
  -webkit-animation: fadein 1.5s 1 3.5s;
  animation: fadein 1.5s 1 3.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}