.Tags {
  margin: 1em 0;
}
.Tag{
  padding: .1em .3em;
  background-color: lightgrey;
  border-radius: .5pc;
  margin: .2em;
  display: inline-block;
  width: fit-content;
}

.WebIcon img {
  height: 28px;
}

.WebIcon img:hover{
  filter: invert(52%) sepia(91%) saturate(1870%) hue-rotate(326deg) brightness(102%) contrast(110%);
  opacity: 0.8;
}