.Carousel {
  min-height: 80%;
  display: flex;
  justify-content: space-between;
}

.Left {
  max-width: 15%;
  border: lightgray 1px solid;
  overflow: hidden;
  white-space: nowrap;
}

.Centre {
  max-width: 60%;
  border: lightgray 1px solid
}

.Right {
  max-width: 15%;
  border: lightgray 1px solid;
  overflow: hidden;
  white-space: nowrap;
}